In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

In [17]:

df = pd.read_csv('merged_dataset.csv')
# keep only one company for each 'PORTFOLIO COMPANY ID', keeping the one with the most data (least NaNs in the columns)
df = df.sort_values(by='PORTFOLIO COMPANY ID').drop_duplicates(subset='PORTFOLIO COMPANY ID', keep='first')
df = df.reset_index(drop=True)

# limit the data set to include only the rows where founded year is less than 2016 and more than 2000
df = df[(df['FOUNDED YEAR'] < 2016) & (df['FOUNDED YEAR'] >= 2008)]

# subset the city counts in a new dataframe
city_counts = df['CITY'].value_counts().reset_index()

# read the cities_coordinates.xlsx file
cities = pd.read_excel('city_counts.xlsx')

# Update the count values in cities with those from city_counts, matching on CITY
cities = cities.merge(city_counts[['CITY', 'count']], on='CITY', how='left', suffixes=('', '_new'))
cities['count'] = cities['count_new'].combine_first(cities['count'])
cities = cities.drop(columns='count_new')

In [18]:
cities.head()

            CITY  count   Latitude   Longitude
0  San Francisco  279.0  37.779259 -122.419329
1        Beijing  306.0  39.905714  116.391297
2       New York  185.0  40.712728  -74.006015
3          Seoul  117.0  37.566679  126.978291
4         London  189.0  51.507446   -0.127765

In [19]:
# export the cities dataframe to a new excel file
cities.to_excel('city_counts_before_2016.xlsx', index=False)