In [2]:
# import all the relevant libraries for data manipulation and visualization and analysis
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import sys

In [19]:
# transform the merged data to a pandas dataframe
df = pd.read_csv('merged_dataset.csv')
# keep only one company for each 'PORTFOLIO COMPANY ID', keeping the one with the most data (least NaNs in the columns)
df = df.sort_values(by='PORTFOLIO COMPANY ID').drop_duplicates(subset='PORTFOLIO COMPANY ID', keep='first')
df = df.reset_index(drop=True)

In [95]:
# subset the city counts in a new dataframe
city_counts = df['CITY'].value_counts().reset_index()

In [96]:
city_counts.shape

(1371, 2)

In [17]:
import pandas as pd
from geopy.geocoders import Nominatim
import time

# Load the Excel file
df = pd.read_excel('city_counts.xlsx')


# Initialize Nominatim API
geolocator = Nominatim(user_agent="geoapiExercises")

def get_lat_long(city):
    try:
        location = geolocator.geocode(city)
        return location.latitude, location.longitude
    except:
        return None, None

def get_lat_long_for_cities(cities):
    results = []
    for i, city in enumerate(cities):
        lat, long = get_lat_long(city)
        results.append((lat, long))
        
        # Check if we need to take a break
        if (i + 1) % 25 == 0:
            print(f"Processed {i + 1} cities, taking a 1-second break.")
            time.sleep(1)
    
    return results

# Apply the function to get latitude and longitude
lat_long_results = get_lat_long_for_cities(df['CITY'])
df['Latitude'], df['Longitude'] = zip(*lat_long_results)

print(df)

Processed 25 cities, taking a 1-second break.
Processed 50 cities, taking a 1-second break.
Processed 75 cities, taking a 1-second break.
Processed 100 cities, taking a 1-second break.
Processed 125 cities, taking a 1-second break.
Processed 150 cities, taking a 1-second break.
Processed 175 cities, taking a 1-second break.
Processed 200 cities, taking a 1-second break.
Processed 225 cities, taking a 1-second break.
Processed 250 cities, taking a 1-second break.
Processed 275 cities, taking a 1-second break.
Processed 300 cities, taking a 1-second break.
Processed 325 cities, taking a 1-second break.
Processed 350 cities, taking a 1-second break.
Processed 375 cities, taking a 1-second break.
Processed 400 cities, taking a 1-second break.
Processed 425 cities, taking a 1-second break.
Processed 450 cities, taking a 1-second break.
Processed 475 cities, taking a 1-second break.
Processed 500 cities, taking a 1-second break.
Processed 525 cities, taking a 1-second break.
Processed 550 cities, taking a 1-second break.
Processed 575 cities, taking a 1-second break.
Processed 600 cities, taking a 1-second break.
Processed 625 cities, taking a 1-second break.
Processed 650 cities, taking a 1-second break.
Processed 675 cities, taking a 1-second break.
Processed 700 cities, taking a 1-second break.
Processed 725 cities, taking a 1-second break.
Processed 750 cities, taking a 1-second break.
Processed 775 cities, taking a 1-second break.
Processed 800 cities, taking a 1-second break.
Processed 825 cities, taking a 1-second break.
Processed 850 cities, taking a 1-second break.
Processed 875 cities, taking a 1-second break.
Processed 900 cities, taking a 1-second break.
Processed 925 cities, taking a 1-second break.
Processed 950 cities, taking a 1-second break.
Processed 975 cities, taking a 1-second break.
Processed 1000 cities, taking a 1-second break.
Processed 1025 cities, taking a 1-second break.
Processed 1050 cities, taking a 1-second break.
Processed 1075 cities, taking a 1-second break.
Processed 1100 cities, taking a 1-second break.
Processed 1125 cities, taking a 1-second break.
Processed 1150 cities, taking a 1-second break.
Processed 1175 cities, taking a 1-second break.
Processed 1200 cities, taking a 1-second break.
Processed 1225 cities, taking a 1-second break.
Processed 1250 cities, taking a 1-second break.
Processed 1275 cities, taking a 1-second break.
Processed 1300 cities, taking a 1-second break.
Processed 1325 cities, taking a 1-second break.
Processed 1350 cities, taking a 1-second break.
               CITY  count   Latitude   Longitude
0     San Francisco    950  37.779259 -122.419329
1           Beijing    885  39.905714  116.391297
2          New York    707  40.712728  -74.006015
3             Seoul    698  37.566679  126.978291
4            London    690  51.507446   -0.127765
...             ...    ...        ...         ...
1366     Cedar Park      1  30.521712  -97.827833
1367        Leawood      1  38.966673  -94.616901
1368        Rostock      1  54.088671   12.140021
1369     Norristown      1  40.114879  -75.343371
1370      Bialystok      1  53.132398   23.159168

[1371 rows x 4 columns]

In [19]:
# save the df as an excel
df.to_excel('city_counts.xlsx', index=False)

In [74]:
df.columns

Index(['PORTFOLIO COMPANY ID', 'COMPANY NAME', 'REGION', 'ADDRESS', 'CITY',
       'STATE', 'ZIPCODE', 'COUNTRY', 'WEBSITE', 'EMAIL', 'TEL', 'FAX',
       'FOUNDED YEAR', 'PRIMARY INDUSTRY', 'SUB INDUSTRIES', 'VERTICALS',
       'COMPANY STAGE', 'LATEST ROUND DIRECTION', 'INVESTORS',
       'TOTAL AMOUNT RAISED (USD MN)', 'EBITDA (USD MN)',
       'OPERATING INCOME (USD MN)', 'NET INCOME (USD MN)', 'REVENUE (USD MN)',
       '% REVENUE GROWTH YOY', '% OPERATING MARGIN', '% EBTIDA MARGIN',
       '% NET MARGIN', 'FUNDING ROUNDS/NUMBER OF DEALS',
       'MOST RECENT DEAL TYPE/STAGE', 'MOST RECENT DEAL DATE',
       'MOST RECENT DEAL SIZE (USD MN)',
       'MOST RECENT DEAL SIZE EQUITY (USD MN)',
       'MOST RECENT DEAL SIZE DEBT (USD MN)', 'EMPLOYEE COUNT',
       'INVESTED FUNDS (ESTIMATED**)', 'ACTIONABILITY SIGNAL', 'FUNDING TYPE',
       'OWNERSHIP TYPE', 'COMPANY DESCRIPTION',
       'POST-MONEY VALUATION (USD MN - ESTIMATED**)',
       'POST-MONEY VALUATION (USD MN)'],
      dtype='object')

In [20]:
city_counts = pd.read_excel('city_counts.xlsx')

In [21]:
# print the percentage of cities that were not found
print(f"Percentage of cities not found: {city_counts['Latitude'].isnull().mean() * 100:.2f}%")

# print the count of cities not found
print(f"Count of cities not found: {city_counts['Latitude'].isnull().sum()}")

# subset the cities that were not found
not_found = city_counts[city_counts['Latitude'].isnull()]
print(not_found)

Percentage of cities not found: 1.24%
Count of cities not found: 17
               CITY  count  Latitude  Longitude
275     Petah Tikva      6       NaN        NaN
276           Kyoto      6       NaN        NaN
277   Newport Beach      6       NaN        NaN
278       Las Vegas      6       NaN        NaN
322      D�sseldorf      5       NaN        NaN
334     Saarbr�cken      4       NaN        NaN
342         M�nchen      4       NaN        NaN
704         M�nster      2       NaN        NaN
720   Kuroishi City      1       NaN        NaN
743         Tornoto      1       NaN        NaN
757        Crici�ma      1       NaN        NaN
810        H�rsholm      1       NaN        NaN
833       Toulhouse      1       NaN        NaN
948         Rijswij      1       NaN        NaN
981       Reykjav�k      1       NaN        NaN
1007        RJ Best      1       NaN        NaN
1217   Saint P�lten      1       NaN        NaN

There seem to be some cities that were not found. This might be because there are typos, or the special letter characters in the case of the German cities. Since those cities and not that many, I will input latitude and longitude of these cities manually.

In [22]:
# print the row where CITY = toronto
print(city_counts[city_counts['CITY'] == 'Toronto'])

# add +1 to the count column of toronto
city_counts.loc[city_counts['CITY'] == 'Toronto', 'count'] += 1

       CITY  count   Latitude  Longitude
15  Toronto    176  43.653482 -79.383935

In [23]:
# read the cities_coordinates excel
cities_coordinates = pd.read_excel('cities_coordinates.xlsx')

# drop the Toronto row from City in cities_coordinates
cities_coordinates = cities_coordinates[cities_coordinates['City'] != 'Toronto']

In [24]:
# add a new column between after 'City' named 'count', set value 6 for Petah Tikva, Kyota, Newport Beach, Las Vegas. Set 5 for Dusseldorf,
# Set 4 for Saarbrucken and Munchen, 2 for Munster and 1 for the rest.
cities_coordinates['count'] = 1
cities_coordinates.loc[cities_coordinates['City'].isin(['Petah Tikva', 'Kyoto', 'Newport Beach', 'Las Vegas']), 'count'] = 6
cities_coordinates.loc[cities_coordinates['City'] == 'Dusseldorf', 'count'] = 5
cities_coordinates.loc[cities_coordinates['City'].isin(['Saarbrucken', 'Munchen']), 'count'] = 4
cities_coordinates.loc[cities_coordinates['City'] == 'Munster', 'count'] = 2

In [25]:
cities_coordinates

             City  Latitude  Longitude  count
0     Petah Tikva   32.0871    34.8875      6
1           Kyoto   35.0116   135.7681      6
2   Newport Beach   33.6189  -117.9298      6
3       Las Vegas   36.1699  -115.1398      6
4      Düsseldorf   51.2277     6.7735      1
5     Saarbrücken   49.2402     6.9969      1
6         München   48.1351    11.5820      1
7         Münster   51.9607     7.6261      1
8   Kuroishi City   40.6442   140.5990      1
10       Criciúma  -28.6775   -49.3699      1
11       Hørsholm   55.8800    12.5014      1
12       Toulouse   43.6045     1.4442      1
13       Rijswijk   52.0364     4.3250      1
14      Reykjavík   64.1355   -21.8954      1
15        RJ Best  -22.9068   -43.1729      1
16   Saint Pölten   48.2035    15.6267      1

In [26]:
# set the location of the count column to be between 'City' and 'Latitude'
cities_coordinates = cities_coordinates[['City', 'count', 'Latitude', 'Longitude']]

# change the name of the City column to CITY
cities_coordinates.columns = ['CITY', 'count', 'Latitude', 'Longitude']

In [27]:
city_counts = pd.concat([city_counts, cities_coordinates], ignore_index=True)

In [29]:
# save the city_counts as an excel
city_counts.to_excel('city_counts.xlsx', index=False)

In [13]:
# read merged_dataset.csv
df = pd.read_csv('merged_dataset.csv')

In [14]:
df.columns

Index(['PORTFOLIO COMPANY ID', 'COMPANY NAME', 'REGION', 'ADDRESS', 'CITY',
       'STATE', 'ZIPCODE', 'COUNTRY', 'WEBSITE', 'EMAIL', 'TEL', 'FAX',
       'FOUNDED YEAR', 'PRIMARY INDUSTRY', 'SUB INDUSTRIES', 'VERTICALS',
       'COMPANY STAGE', 'LATEST ROUND DIRECTION', 'INVESTORS',
       'TOTAL AMOUNT RAISED (USD MN)', 'EBITDA (USD MN)',
       'OPERATING INCOME (USD MN)', 'NET INCOME (USD MN)', 'REVENUE (USD MN)',
       '% REVENUE GROWTH YOY', '% OPERATING MARGIN', '% EBTIDA MARGIN',
       '% NET MARGIN', 'FUNDING ROUNDS/NUMBER OF DEALS',
       'MOST RECENT DEAL TYPE/STAGE', 'MOST RECENT DEAL DATE',
       'MOST RECENT DEAL SIZE (USD MN)',
       'MOST RECENT DEAL SIZE EQUITY (USD MN)',
       'MOST RECENT DEAL SIZE DEBT (USD MN)', 'EMPLOYEE COUNT',
       'INVESTED FUNDS (ESTIMATED**)', 'ACTIONABILITY SIGNAL', 'FUNDING TYPE',
       'OWNERSHIP TYPE', 'COMPANY DESCRIPTION',
       'POST-MONEY VALUATION (USD MN - ESTIMATED**)',
       'POST-MONEY VALUATION (USD MN)'],
      dtype='object')

In [15]:
# print the share of REGION in the dataset for startups that have FOUNDED YEAR between 2008 and 2016 as a percentage
print(df[(df['FOUNDED YEAR'] >= 2016)]['REGION'].value_counts(normalize=True) * 100)

REGION
North America                37.185364
Asia                         33.470044
Europe                       22.476880
Middle East                   3.313229
Latin America & Caribbean     1.664656
Australasia                   1.318858
Africa                        0.570969
Name: proportion, dtype: float64